@import url(https://fonts.googleapis.com/css?family=Rye);
#page-header h1{
    font-family: 'Rye', cursive;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.title{
    font-size: 30px;
    color: black;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    margin-top: 10vh;
}
#content{
    // width:80%
    padding: 0 10%;
    min-height: 80vh;
}

.col2{
    display:flex;
    font-size: 20px;
    color: black;
    flex-wrap: wrap ;
}
.half{
    width: 50%;
}

.mobile{
    display: none;
}
@media only screen and (max-width: 465px)  {
    .title{
        margin-top: 3vh;
    }
    .half{
        width: 100%;
        margin-bottom: 10px;
        padding:0 !important;
    }
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
}