.title{
    font-size: 30px;
    color: black;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    margin-top: 10vh;
}
#content{
    // width:80%
    padding: 0 10%;
    min-height: 80vh;
}
@media only screen and (max-width: 465px)  {
    .title{
        margin-top: 3vh;
    }
}
#product-container{
    display: flex;
    font-weight: 600;
    font-size: 20px;
    text-align:center;
}
#imageTitle{
    width: 20%;
    margin-right: 20%;
}
#quantityTitle{
    width: 20%;

}
#priceimageTitle{
    width: 20%;

}
#subtotalTitle{
    width: 20%;

}
hr#cart{
    border-top: 1px solid #e2e2e2;
    width: 100%;
}

@media only screen and (max-width: 465px)  {
    #imageTitle,#quantityTitle,#subtotalTitle,#priceimageTitle{
        display:none
    }
}