.categoryContainer{
    background-color: #f6f6f6;   
    margin-bottom: 5vh;
    width: 32%;
    margin-right: 2%;
    position: relative;
}

.categoryContainer{
    .img-fluid{
        
    }
}
.img-fluid {
    width: 100%;
}

// responsive mobile
@media only screen and (max-width: 465px)  {
    .categoryContainer{
        margin-bottom: 5vh;
        width: 47%;
        margin-right: 6%;
        position: relative;
    }
}