#content{
    // width:80%
    padding: 0 10%;
}
#details{
    display: flex;
    margin-bottom: 10vh;
    margin-top: 10vh;
}
#imagesContainer,#descriptionContainer{
    width:50%;
}
#descriptionContainer{
    padding: 0 5vw;
    p{
        color:black;

    }
    #Price{
        font-size: 20px;
        font-weight: 600;
        span{
            font-weight: 200;
        }
    }
    #title{
        margin-top: 5vh;
        font-size: 20px;
        font-weight: 600;
    }
    #description{
        text-align: justify;
    }
}

@media only screen and (max-width: 465px)  {
    #imagesContainer,#descriptionContainer{
        width:100%;
    }
    #details{
        display: flex;
        // margin-bottom: 10vh;
        // margin-top: 10vh;
        flex-wrap: wrap;
    }
    #descriptionContainer{
        padding: 0;
        p{
            text-align: right;
            width: 100%;
        }
        #title{
            text-align: center;
        }
    }
    // #Price{
    //     text-align: right;
    // }
}