#mainHeader{
    // style={{
        // background: `rebeccapurple`,
        // marginBottom: `1.45rem`,
    //   }}
    background-color:#b78842;
    display: flex;
    justify-content: center;
    padding:3vh 0;
}
#titleImage{
    width: 20%;
    margin-bottom: 0;
}