#main-footer{
    padding: 0 10%;
    padding-top:10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
footer{
    #Nombre{
        font-size: 30px;
    }
    #Copyright{
        font-size: 14px;
    }
    #left-side{
        width:60%;
        margin-right: 20%;
    }
    #right-side{
        width:20%
    }
    #links{
        margin-bottom: 30vh;
        a{
            margin-right: 30px;
        }
    }
}

@media only screen and (max-width: 465px)  {
    footer{
        #left-side{
            width:100%;
            margin:0;
            text-align: justify;
            font-size: 14px;
            #Nombre{
                text-align: left;
                font-size: 22px;
            }
        }
        #right-side{
            width:100%;
            margin:0;
            text-align: center;
            #links{
                margin-bottom:0;
                text-align: center;
                a{
                    width:20%
                }
                a:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    #main-footer{
        padding: 2vh 10%;
    }
}
