#product-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    // border: 1px solid red;
}

#product-container .productContainer:nth-child(3n+3){
    // background-color: red;
    margin-right: 0;
}

#product-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

//   responsive mobile
@media only screen and (max-width: 465px)  {
    #product-container .productContainer:nth-child(3n+3){
        margin-right: 4%;
    }

    #product-container .productContainer:nth-child(2n+2){
        margin-right: 0%;
    }

    #product-container{
        // border: 1px solid red;
    }
}